// Primary Colors
$bright_red: hsl(12, 88%, 59%);
$dark_blue: hsl(228, 39%, 23%);
// Secondary Colors
$grayish_blue: hsl(227, 12%, 61%);
$very_dark_blue: hsl(233, 12%, 13%);
$very_pale_red: hsl(12, 83%, 77%);
$vary_light_gray: hsl(0, 0%, 98%);

// breakpoints
$xs: 480px;
$sm: 600px;
$md: 980px;
$lg: 1260px;
